* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(15, 15, 15, 0.884);
  place-items: center;
  min-height: 100vh;
  margin: 10%
}
main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  grid-template-columns: 200px 150px 210px;
  grid-template-rows: 180px 90px 120px;
  gap: 12px;
  width: 50%;
  margin: auto;
}
main div {
  padding: 2em;
  text-align: center;
}
.item-a {
  background-color: coral;
  grid-area: a;
}
.item-b {
  background-color: rgb(236, 170, 83);
  grid-area: b;
}
.item-c {
  background-color: rgb(26, 141, 26);
  grid-area: c;
}
.item-d {
  background-color: rgb(133, 199, 236);
  grid-area: d;
}
.item-e {
  background-color: rgb(133, 199, 236);
  grid-area: e;
}
.nav{
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: sticky;
  margin: 20px 0px;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
}
